[submodule "eloquent-relationships-by-example-one-to-one"]
	path = eloquent-relationships-by-example-one-to-one
	url = https://github.com/codecourse/eloquent-relationships-by-example-one-to-one
[submodule "eloquent-relationships-by-example-one-to-many"]
	path = eloquent-relationships-by-example-one-to-many
	url = https://github.com/codecourse/eloquent-relationships-by-example-one-to-many
[submodule "eloquent-relationships-by-example-belongs-to"]
	path = eloquent-relationships-by-example-belongs-to
	url = https://github.com/codecourse/eloquent-relationships-by-example-belongs-to
[submodule "eloquent-relationships-by-example-many-to-many"]
	path = eloquent-relationships-by-example-many-to-many
	url = https://github.com/codecourse/eloquent-relationships-by-example-many-to-many
[submodule "eloquent-relationships-by-example-has-many-through"]
	path = eloquent-relationships-by-example-has-many-through
	url = https://github.com/codecourse/eloquent-relationships-by-example-has-many-through
[submodule "eloquent-relationships-by-example-has-one-through"]
	path = eloquent-relationships-by-example-has-one-through
	url = https://github.com/codecourse/eloquent-relationships-by-example-has-one-through
[submodule "eloquent-relationships-by-example-has-one-of-many"]
	path = eloquent-relationships-by-example-has-one-of-many
	url = https://github.com/codecourse/eloquent-relationships-by-example-has-one-of-many
[submodule "eloquent-relationships-by-example-eager-loading"]
	path = eloquent-relationships-by-example-eager-loading
	url = https://github.com/codecourse/eloquent-relationships-by-example-eager-loading
