[submodule "eloquent-relationships-by-example-one-to-one"]
	path = eloquent-relationships-by-example-one-to-one
	url = https://github.com/codecourse/eloquent-relationships-by-example-one-to-one
[submodule "eloquent-relationships-by-example-one-to-many"]
	path = eloquent-relationships-by-example-one-to-many
	url = https://github.com/codecourse/eloquent-relationships-by-example-one-to-many
[submodule "eloquent-relationships-by-example-belongs-to"]
	path = eloquent-relationships-by-example-belongs-to
	url = https://github.com/codecourse/eloquent-relationships-by-example-belongs-to
[submodule "eloquent-relationships-by-example-many-to-many"]
	path = eloquent-relationships-by-example-many-to-many
	url = https://github.com/codecourse/eloquent-relationships-by-example-many-to-many
[submodule "eloquent-relationships-by-example-has-many-through"]
	path = eloquent-relationships-by-example-has-many-through
	url = https://github.com/codecourse/eloquent-relationships-by-example-has-many-through
